script(type='text/javascript', src='lib/angular/angular.min.js')

script(type='text/javascript', src='lib/angular-cookies/angular-cookies.min.js')
script(type='text/javascript', src='lib/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
script(type='text/javascript', src='lib/angular-ui-router/release/angular-ui-router.min.js')

script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/config.js')

script(src='text/javascript', src='js/auth/auth_service.js')
script(src='text/javascript', src='js/site/header_controller.js')
script(src='text/javascript', src='js/site/home_controller.js')
script(src='text/javascript', src='js/site/example_directive.js')
script(src='text/javascript', src='js/article/articles_controllers.js')
script(src='text/javascript', src='js/article/articles_services.js')


//- script(type='text/javascript', src='js/init.js')
