section.home-content(ng-controller="HomeCtrl")
  .container
    .home-copy
      br
      br
      h1 {{greeting}} {{user.name}}
      p Lorem Ipsum
      button.btn.btn-lg.btn-default hello 
      button.btn.btn-lg.btn-primary world
