!!! 5
html
  head
    link(rel="stylesheet", href="/css/common.css")
  body

    .masonry.js-masonry(data-masonry-options='{ "columnWidth": 100, "isOriginTop": false, "itemSelector": ".item" }')
      .item.big
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.small
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.big
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.large
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
      .item.big
        | Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit
    script(src="/lib/masonry.pkgd.js")